/* Mobile View*/
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'CenturyGothic', sans-serif; 
  margin: 0;
  padding: 0;
  font-size: 16pt;
  /*background-image: url('../images/booksbackground.png');*/
}

h1{
  color: #339999;
  font-size: 2em;
  text-align: center;
  line-height: 2;
  text-decoration: underline;
  padding-bottom: 10px;
  display: block;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
  display: block;
}

h3{
  text-align: center;
}

p {
  padding: 0 30px;
  text-align: center;
  font-weight: bold;
}

p span{
  font-weight: bold;
  line-height: 15px;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}


footer{
  background-color: black;
  border-bottom: 3px solid #339999;
  border-top: 3px solid #339999;;
  color: white;
  padding: 30px;
  text-align: center;
}

#logo{
  height: 100px;
  width: 108px;
}

#myself{
  height: 300px;
  width: auto;
  border: 10px solid #339999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.about{
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

img{
  height: 200px;
}

/* Library Container */
.container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: auto;
  width: 95vw;
}

.container img{
  width: 75%;
  height: auto;
  border: 4px solid black;
}

.img-one, .img-two, .img-three, .img-four, .img-five, .img-six, .img-seven, .img-eight, .img-nine{
  text-align: center;
}

.text-one, .text-two, .text-three, .text-four, .text-five, .text-six, .text-seven, .text-eight{
  padding-bottom: 20px;
  padding-top: 20px;
}

#img-one:hover, #img-two:hover, #img-three:hover, #img-four:hover, #img-five:hover, #img-six:hover, #img-seven:hover, #img-eight:hover, #img-nine:hover{
  box-shadow: 10px 10px 10px 10px grey;
}

/* Wish List Container */
div.toreadlist{
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 95vw;
  padding-bottom: 20px;
  align-items: center;
  justify-items: center;
}

.toreadlist img{
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  text-align: center;
}

/*
.imagetwo{
  
}

.imagethree{
  
}

.imagefour{
  
}

.imagefive{
  
}

.imagesix{
  
}
*/

/* Flip Cards */
.flip-card {
  background-color: transparent;
  width: 302px;
  height: 474px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-back h1{
  color: white;
  font-size: 30px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #339999;
  color: white;
  transform: rotateY(180deg);
}

.parallax {
  /* The image used */
  background-image: url("../images/bookbackground.jpeg");

  /* Set a specific height */
  height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* form styling */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #339999;
}

.contactform {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Parallax Image */
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, black 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.header h1{
  color: white;
  font-size: 64px;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


/*Keyframes for animation*/
@-webkit-keyframes logo_wiggle{
  from {width: 25px;}
  to {width: 108px;}
}

@keyframes logo_wiggle{
  from {width: 25px;}
  to {width: 108px;}
} 

#logo{
   animation-duration: 5s;
   animation-name: logo_wiggle;
}

/* Navbar */
header{
  background: black;
  border-bottom: 3px solid #339999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active{
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.nav_links{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_item a{
  color: white;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: black
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}




/* desktop layout */
@media screen and (min-width: 1024px){
  
  /* Navbar */
  header{
    flex-direction: row;
    justify-content: space-between;  
  }

  p {
    padding: 0 30px;
    text-align: center;
    font-weight: bold;
  }
  
  p span{
    font-weight: bold;
    line-height: 15px;
  }

  .nav_links{
    flex-direction: row;
    justify-content: space-between;  
  }

  .nav_item a{
    padding: 10px;
  }

  /*Library Container*/
  .container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    margin: auto;
    width: 95vw;
  }
  
  .container img{
    width: 75%;
    height: auto;
    border: 4px solid black;
    justify-items: center;
  }

  .img-one, .img-two, .img-three, .img-four, .img-five, .img-six, .img-seven, .img-eight, .img-nine{
    text-align: center;
  }

  #img-one:hover, #img-two:hover, #img-three:hover, #img-four:hover, #img-five:hover, #img-six:hover, #img-seven:hover, #img-eight:hover, #img-nine:hover{
    box-shadow: 6px 6px 6px 6px grey;
  }
  
  .img-one{
    grid-column: 2 / 3;
    grid-row: 1;
    align-items: center;
  }
  
  .text-one{
    grid-column: 3 / 4;
    grid-row: 1;
    align-self: center;
  }
  
  .img-two{
    grid-column: 3 / 4;
    grid-row: 2;
    align-items: center;
  }
  
  .text-two{
    grid-column: 2 / 3;
    grid-row: 2;
    align-self: center;
  }
  
  .img-three{
    grid-column: 2 / 3;
    grid-row: 3;
    align-items: center;
  }
  
  .text-three{
    grid-column: 3 / 4;
    grid-row: 3;
    align-self: center;
  }
  
  .img-four{
    grid-column: 3 / 4;
    grid-row: 4;
    align-items: center;
  }
  
  .text-four{
    grid-column: 2 / 3;
    grid-row: 4;
    align-self: center;
  }
  
  .img-five{
    grid-column: 2 / 3;
    grid-row: 5;
    align-items: center;
  }
  
  .text-five{
    grid-column: 3 / 4;
    grid-row: 5;
    align-self: center;
  }
  
  .img-six{
    grid-column: 3 / 4;
    grid-row: 6;
    align-items: center;
  }
  
  .text-six{
    grid-column: 2 / 3;
    grid-row: 6;
    align-self: center;
  }
  
  .img-seven{
    grid-column: 2 / 3;
    grid-row: 7;
    align-items: center;
  }
  
  .text-seven{
    grid-column: 3 / 4;
    grid-row: 7;
    align-self: center;
  }
  
  .img-eight{
    grid-column: 3 / 4;
    grid-row: 8;
    align-items: center;
  }
  
  .text-eight{
    grid-column: 2 / 3;
    grid-row: 8;
    align-self: center;
  }
  
  .img-nine{
    grid-column: 2 / 3;
    grid-row: 9;
    padding-bottom: 20px;
    align-items: center;
  }
  
  .text-nine{
    grid-column: 3 / 4;
    grid-row: 9;
    align-self: center;
  }
  

  /* Wish List Container */
  div.toreadlist{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    margin: auto;
    width: 95vw;
    padding-bottom: 20px;
    align-items: center;
    justify-items: center;
  }

  .toreadlist img{
    width: 100%;
    height: 100%;
    border: 3px solid #ffffff;
    align-content: center;
  }

  .imageone{
    grid-column: 1 / 2;
    grid-row: 1;
  }

  /* Flip Cards */
  .flip-card {
    background-color: transparent;
    width: 302px;
    height: 474px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }

  .flip-card-back h1{
    color: white;
    font-size: 30px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #339999;
    color: white;
    transform: rotateY(180deg);
  }

  .parallax {
    /* The image used */
    background-image: url("../images/bookbackground.jpeg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}



/* Tablet View */
@media (min-width: 768px) and (max-width: 1024px){
  
  /* Navbar */
  header{
    flex-direction: row;
    justify-content: space-between;  
  }

  p {
    padding: 0 30px;
    text-align: center;
    font-weight: bold;
  }
  
  p span{
    font-weight: bold;
    line-height: 15px;
  }

  .nav_links{
    flex-direction: row;
    justify-content: space-between;  
  }

  .nav_item a{
    padding: 10px;
  }

  .container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 95vw;
  }
  
  .container img{
    width: 75%;
    height: auto;
    border: 4px solid black;
    justify-items: center;
  }

  div.img-one, div.img-two, div.img-three, div.img-four, div.img-five, div.img-six, div.img-seven, div.img-eight, div.img-nine{
    justify-items: center;
    align-items: center;
  }

  #img-one:hover, #img-two:hover, #img-three:hover, #img-four:hover, #img-five:hover, #img-six:hover, #img-seven:hover, #img-eight:hover, #img-nine:hover{
    box-shadow: 6px 6px 6px 6px grey;
  }
  
  .img-one{
    grid-column: 1 / 2;
    grid-row: 1;
    align-items: center;
  }
  
  .text-one{
    grid-column: 2 / 4;
    grid-row: 1;
    align-self: center;
  }
  
  .img-two{
    grid-column: 3 / 4;
    grid-row: 2;
    align-items: center;
  }
  
  .text-two{
    grid-column: 1 / 3;
    grid-row: 2;
    align-self: center;
  }
  
  .img-three{
    grid-column: 1 / 2;
    grid-row: 3;
    align-items: center;
  }
  
  .text-three{
    grid-column: 2 / 4;
    grid-row: 3;
    align-self: center;
  }
  
  .img-four{
    grid-column: 3 / 4;
    grid-row: 4;
    align-items: center;
  }
  
  .text-four{
    grid-column: 1 / 3;
    grid-row: 4;
    align-self: center;
  }
  
  .img-five{
    grid-column: 1 / 2;
    grid-row: 5;
    align-items: center;
  }
  
  .text-five{
    grid-column: 2 / 4;
    grid-row: 5;
    align-self: center;
  }
  
  .img-six{
    grid-column: 3 / 4;
    grid-row: 6;
    align-items: center;
  }
  
  .text-six{
    grid-column: 1 / 3;
    grid-row: 6;
    align-self: center;
  }
  
  .img-seven{
    grid-column: 1 / 2;
    grid-row: 7;
    align-items: center;
  }
  
  .text-seven{
    grid-column: 2 / 4;
    grid-row: 7;
    align-self: center;
  }
  
  .img-eight{
    grid-column: 3 / 4;
    grid-row: 8;
    align-items: center;
  }
  
  .text-eight{
    grid-column: 1 / 3;
    grid-row: 8;
    align-self: center;
  }
  
  .img-nine{
    grid-column: 1 / 2;
    grid-row: 9;
    padding-bottom: 20px;
    align-items: center;
  }
  
  .text-nine{
    grid-column: 2 / 4;
    grid-row: 9;
    align-self: center;
  }
  

  /* Wish List Container */
  div.toreadlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 95vw;
    padding-bottom: 20px;
    align-items: center;
    justify-items: center;
  }

.toreadlist img{
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  align-content: center;
}

.imageone{
  grid-column: 1 / 2;
  grid-row: 1;
}

.imageone, .imagetwo, .imagethree, .imagefour, .imagefive, .imagesix, .imageseven, .imageeight{
  text-align: center;
}


/* Flip Cards */
.flip-card {
  background-color: transparent;
  width: 302px;
  height: 474px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-back h1{
  color: white;
  font-size: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #339999;
  color: white;
  transform: rotateY(180deg);
}

.parallax {
  /* The image used */
  background-image: url("../images/bookbackground.jpeg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



}



/*reduced-motion*/
@media screen and (prefers-reduced-motion){
  #logo{
    animation: none;
  }

  .flip-card-inner{
    transition: transform none;
  }
}
